<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Loja de Motos</title>
<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="index2.html">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="index3.html">Produtos</a></li>
      <li><a href="index2.html">Contato</a></li>
    </ul>
  </nav>
</header>

<main>

  <section class="cards">
    <div class="card">
        <img src="https://cmssaladeimprensa.honda.com.br//sites/default/files/styles/hd_exibicao/public/2023-09/CB%20500F_2024_%20Azul%20Perolizado_Pearl%20Spencer%20Blue_.jpg?itok=AeqTEDP8" alt="Honda CB500" style="width:auto">
        <h1>Honda CB500</h1>
        <p class="price">R$26.000</p>
        <p>Jaqueta de couro</p>
        <p>Marca de Capacete: Shoei</p>
        <button>
          <a href="https://www.motonline.com.br/guia-de-motos/honda/cb-500-f">Ficha tecnica</a>
        </button>
      </div>
      
      <div class="card">
        <img src= "https://dealers.leadspot.com.br/uploads/medias/r3-yamaha.png" alt="Yamaha YZF-R3" style="width:auto">
        <h1>Yamaha YZF-R3</h1>
        <p class="price">R$23.500</p>
        <p>Calças Kevlar</p>
        <p>Marca de Capacete: AGV</p>
        <button>
          <a href="https://www.motonline.com.br/guia-de-motos/honda/cb-500-f">Ficha tecnica</a>
        </button>
      </div>
      
      <div class="card">
        <img src="https://kawasaki.m3parts.com.br/arquivos/1566242326ddit_ninja400_2020_se.png" alt="Kawasaki Ninja 400"
         style="width:auto">
        <h1>Kawasaki Ninja 400</h1>
        <p class="price">R$22.990</p>
        <p>Luvas de proteção</p>
        <p>Marca de Capacete: HJC</p>
        <button>
          <a href="https://www.motonline.com.br/guia-de-motos/kawasaki/ninja-400">Ficha tecnica</a>
        </button>
      </div>
      
      <div class="card">
      <img src="https://m.media-amazon.com/images/I/61Hca8Hf1NL.__AC_SY300_SX300_QL70_ML2_.jpg" alt="Suzuki GSX-S750" style="width:auto">
      <h1>Suzuki GSX-S750</h1>
      <p class="price">R$43.300</p>
      <p>Botas de motociclismo</p>
      <p>Marca de Capacete: Arai</p>
      <button>
        <a href="https://www.motonline.com.br/guia-de-motos/suzuki/gsx-s-750">Ficha tecnica</a>
      </button>
      </div>
  </section>
</main>

<footer>
  Numero para contato: 1194943-6886; <br><br>
  Email:thigasxs@gmail.com <br><br>
  Endereço: Rua andré Belly n°2
</footer>
</body>
</html>
