<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contato</title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<header>
    <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index3.html">Produtos</a></li>
          <li><a href="index2.html">Contato</a></li>
        </ul>
      </nav>
</header>

<main>
  <section class="produtos">
    <!-- Utilização de Flexbox para apresentar os produtos -->
  </section>
</main>

<footer>
    Numero para contato: (11)  94943-6886 <br><br>
    Email:  thigasxs@gmail.com <br><br>
    Endereço: Rua andré Belly n°2</footer>
</body>
</html>

