<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tabelas</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index3.html">Produtos</a></li>
          <li><a href="index2.html">Contato</a></li>
        </ul>
      </nav>
</header>
    <table>
    <tr>
      <th>Moto</th>
      <th>Preço</th>
      <th>Roupa de Motociclista</th>
      <th>Marca de Capacete</th>
    </tr>
    <tr>
      <td>Honda CB500</td>
      <td>R$26.000</td>
      <td>Jaqueta de couro</td>
      <td>Shoei</td>
    </tr>
    <tr>
      <td>Yamaha YZF-R3</td>
      <td>R$23.500</td>
      <td>Calças Kevlar</td>
      <td>AGV</td>
    </tr>
    <tr>
      <td>Kawasaki Ninja 400</td>
      <td>R$22.990</td>
      <td>Luvas de proteção</td>
      <td>HJC</td>
    </tr>
    <tr>
      <td>Suzuki GSX-S750</td>
      <td>R$43.300</td>
      <td>Botas de motociclismo</td>
      <td>Arai</td>
    </tr>
  </table>
</body>
</html>

